*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-color: rgb(17, 162, 162);
    font-size: 16px;
    padding: 128px;
}

.main .wrapper{
    background-color: #fff;
    padding-top: 48px;
    border-radius: 28px;
}

.wrapper .header{
    text-align: center;
    margin-top: 40px;
}

.wrapper .wrapper-question{
    padding: 32px 64px;
}

.wrapper-question .page-1,
.wrapper-question .page-2{
    margin-top: 36px;
}

.next{
    display: flex;
    align-items: center;
    justify-content: end;
    cursor: pointer;
    margin-top: 32px;
}

.page-1 .next:hover span{
    opacity: 0.6;
}

.next span {
    background-color: #81b0e9;
    color: #fff;
    font-size: 20px;
    padding: 12px;
    border-radius: 4px;
}

.page .question {
    margin: 24px 0;
}

.question .ask {
    font-weight: 600;
}

.question .answer {
    margin-top: 16px;
}

.answer .input-ans {
    margin-top: 8px;
}

.page .page-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-btn>div {
    padding: 12px;
    font-size: 20px;
    text-align: center;
    max-width: 200px;
    border-radius: 6px;
    margin-top: 32px;
}

.page-btn>div:hover {
    cursor: pointer;
    opacity: 0.9;
}

.page-btn .submit-btn {
    background-color: #4f81bd;
    color: #fff;
}

.page-btn .back {
    background-color: rgb(249, 51, 51);
    color: #fff;
}

.page-2{
    padding: 36px;
}
